
.main-container{
    border: 5px solid greenyellow;
    background-color: pink;
    padding:10px !important;
}
.myrow{
    background-color: black;
}
.row1col1{
    background-color: darkcyan;
}
.row1col2{
    background-color: plum;
}
.row2col1{
background-color: orangered;
}
.row2col2{
background-color: cyan;
}
.row3col1{
background-color: plum;
}
.row3col2{
background-color: greenyellow;
}

.row{
    position: relative;
    height: 200px;
    margin: 10px;
}
.col{
    border:1px solid black;
}
/* Your CSS Code here. */