
.main-container{
    border: 5px solid greenyellow;
    background-color: pink;
    padding:10px !important;
}
.myrow{
    background-color: black;
}
.r1c1{
    background-color: darkcyan;
}
.r1c2{
    background-color: plum;
}
.r2c1{
background-color: orangered;
}
.r2c2{
background-color: cyan;
}
.r3c1{
background-color: plum;
}
.r3c2{
background-color: greenyellow;
}

.row{
    position: relative;
    height: 200px;
    margin: 10px;
}
.col{
    border:1px solid black;
}
/* Your CSS Code here. */